<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- ********** CONTROLLERS ********** -->
    <!-- quiz: "show quiz by id" -->
    <servlet>
        <servlet-name>quizController</servlet-name>
        <servlet-class>net.golovach.example.servlet.QuizController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>quizController</servlet-name>
        <url-pattern>/quiz.do</url-pattern>
    </servlet-mapping>

    <!-- ********** FILTERS ********** -->
    <!-- Performance -->
    <filter>
        <filter-name>perfFilter</filter-name>
        <filter-class>net.golovach.example.filter.PerfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>perfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ********** LISTENERS ********** -->
    <listener>
        <listener-class>net.golovach.example.listener.SessionPersistenceListener</listener-class>
    </listener>

    <!-- ********** GENERAL INFO ********** -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <distributable/>
</web-app>
